<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap"
      rel="stylesheet"
    />
    <title>PIXAR - about the founding</title>
  </head>
  <body>
    <nav class="main-nav">
      <h1>PIXAR - About the founding</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
      </ul>
    </nav>
    <section>
      <img src="/images/450_1000.jpeg" alt="alberto" id="picture-about" />
    </section>
    <section>
      <h2>The founding of Pixar</h2>
      <article>
        George Lucas recruits Ed Catmull from the New York Institute of
        Technology to head Lucasfilm’s Computer Division, a group charged with
        developing state-of-the-art computer technology for the film industry.
        Lucas’s wish list: a digital (nonlinear) film editing system, a digital
        (nonlinear) sound editing system, a laser film printer, and further
        exploration of computer graphics. The following year, he is joined by
        Alvy Ray Smith, who is hired as Director of Computer Graphics Research.
      </article>
    </section>
  </body>
</html>
